RewriteEngine On

RewriteBase /infl/

RewriteRule ^([a-z]+)/([a-z\-]+)\/?$ /infl/index.php?controleur=$1&action=$2&%{QUERY_STRING} [L]

RewriteRule ^([a-z]+)\/?$ /infl/index.php?controleur=$1&%{QUERY_STRING} [L]