/* Header */
.infl-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(255, 255, 255, 0.8)
}
.infl-header>div>div>a>img{
	padding: 20px;
}
.infl-header ul li {
	display: inline-block;
	padding: 0 5px;
}
.infl-header ul li a{
	color: #000;
	font-size: 1.2em;
	padding: 8px 0;
	position: relative;
	border: none;
	text-decoration: none;
}
.infl-header ul li a::after {
	content: '';
	width: 100%;
	height: .5px;
	background-color: #000;
	position: absolute;
	z-index: 25;
	left: 0;
	bottom: 8px;
	opacity: 0;
	transition: all .2s;
}
.infl-header ul li:hover a::after {
	opacity: 1;
	bottom: 0;
	transition: all .2s;
}
/* End Header */
/* Footer */
.infl-footer {
	margin-top: 150px;
	background-color: #000;
	padding: 10px 20px;
}
.infl-footer h3 {
	text-transform: uppercase;
	font-size: 1.2em;
	color: #fff;
}
.infl-footer p {
	font-size: 1.2em;
	color: #ccc;
}
.infl-footer a {
	color: #ccc;
	text-decoration: none;
}
.infl-footer a:hover {
	color: #fff;
}
.infl-footer>div.r1>div {
	padding: 30px 50px;
}
.infl-footer .btn-footer {
	border: 2px solid #424242;
	padding: 10px 40px;
	margin-top: 30px;
	display: inline-block;
}
.infl-footer .btn-footer:hover {
	border-color: #808080;
}
.infl-footer .r2>div {
	background-color: #808080;
	height: 1px;
	margin: 0 20px;
}
.infl-footer .r3 {
	padding: 20px 0;
}
.infl-footer .s-footer ul li {
	display: inline-block;
}
.infl-footer .s-footer ul li a {
	font-size: 1.2em;
	padding-right: 8px;
}
/* End Footer */
.influencer {
	margin-top: 150px;
	font-size: 1em;
	font-family: 'Arial';
}
.infl-forms {
	position: relative;
}
#infl-form-ig {
	display: none;
}
.influencer .infl_error {
	padding: 15px;
	border-left: 3px solid #FF4A4A;
}
.influencer .infl-sociale {
	text-align: right;
	position: absolute;
	top: 0;
	z-index: 3;
}
.influencer .btn-imm {
	//font-family: Roboto;
	font-size: 1em;
	padding: 8px 40px;
	border: 2px solid rgba(0,0,0,.12);
	color: #000;
	font-weight: 300;
	background-color: transparent;
	border-radius: 0;
	cursor: pointer;
	transition:all .5s;
}
.influencer .btn-imm:hover { 
	border-color: #f9d4c2;
	transition:all .5s;
	color: #000;
	background-color: transparent;
}
.influencer .infl-sociale input {
	display: none;
}
@media (max-width: 768px) {

	.influencer form .infl-button>div {
		margin-top: 20px;
	}
}
.influencer .infl-sociale input[type=radio] + label>i.fa{
	font-size: 2em;
	color: #fff; 
	cursor: pointer;
	background-color: #999;
	padding: 3px 7px;
	border-radius: 5px;
	margin-left: 10px;
}
.influencer .infl-sociale input[type=radio]:checked + label>i.fa-youtube-play{
	background-color: #BA0707;
}
.influencer .infl-sociale input[type=radio]:checked + label>i.fa-instagram{
	background-color: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.influencer .ifl-btn-advaced{
	text-align: right;
	font-weight: 300;
	color: #555;
	cursor: pointer;
}
.influencer .ifl-btn-advaced:hover span {
	text-decoration: underline;
}
.influencer .form-control {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	display: inline-block;
	padding: .5rem .75rem;
	height: auto;
}
.influencer form input.form-control {
	font-family: 'Arial';
}
#infl-filters-advanced-ig input.form-control {
	max-width: 77px;
}

#infl-inp-search-yt, 
#infl-inp-search-ig {
	max-width: initial;
}
#infl-token-ig {
	max-width: 100%;
}
.influencer form .form-control:focus {
	border-color: #f9d4c2;
	transition: background-color .5s;
}
#infl-filters-advanced-ig input#infl-token-ig {
	max-width: 150px;
}
#sort-resultat {
	display: none;
}

#infl-type-yt {
	 z-index: 999;
}

#infl-category-yt{
	 z-index: 999;
}

#infl-resultat-page-yt
{
	 z-index: 999;
}
/* card */
#infl-resultat .card {
	border: none;
	padding: 10px;
	overflow: hidden;
	transition: all .5s;
}
#infl-resultat .card>img {
	object-fit: cover;
	height: 200px;
}
#infl-resultat .card:hover {
	box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
	z-index: 2;
	transition: all .5s;
}
#infl-resultat .card .card-body a {
	color: #000;
}
#infl-resultat .card:hover .card-body {
	opacity: 1;
	transition: opacity .5s;
}
/* end card */